/* General */
hr {border: 1px solid white;}
img {float: left; padding-right: 5px;}
.result {padding-bottom: 5px;}

/* Font Styles */
font.title {
  color: white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
font.info1 {
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
font.info2 {
  color: #d9d9d9;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}

/* Input Style */
input.search {
  width: 14%;
  padding: 4px 15px;
  color: black;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  border: 3px solid #1f1f1f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
}
input.search:focus {
  border: 3px solid #0f0f0f;
}

/* Button Style */
button.search {
  background-color: white;
  color: #1f1f1f;
  font-size: 16px;
  padding: 4px 15px;
  display: inline-block;
  border: 3px solid #1f1f1f;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
button.search:hover {
  background-color: #0f0f0f;
  color: white;
  border: 3px solid #0f0f0f;
}
button.sampleview {
  background-color: white;
  color: black;
  font-size: 13px;
  box-sizing: border-box;
  border: 0px solid white;
  padding: 4px 15px;
  text-decoration: none;
  cursor: pointer;
}

/* Prevent User Selection */
.noselect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}